.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
  padding: 2.5rem;
}

.post + .post{
  margin-top: 2rem;
}

.post > header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.author{
  display: flex;
  flex-direction: row;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.authorInfo > strong {
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo > span{
  color: var(--gray-400);
  line-height: 1.6;
  font-size: 0.875rem;
}

.publishTime {
  color: var(--gray-400);
  line-height: 1.6;
  font-size: 0.875rem;
}

.avatar {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}

.content {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-600);
}

.content > p {
  padding-top: 1.5rem;
  color: var(--gray-300);
  line-height: 1.6;
}

.content > p a {
  text-decoration: none;
  color: var(--green-500);
}

.content > p a:hover {
  color: var(--green-300);
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
}

.commentForm > strong{
  color: var(--gray-100);
  line-height: 1.6;
}

.commentContent {
  background-color: var(--gray-900);
  border-radius: 8px;
  border: 0;
  resize: none;
  padding:1rem;
  width: 100%;
  height: 6rem;
  color: var(--gray-300);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentContent:hover{
  outline: 2px solid var(--green-500);
}

.commentButton {
  width: 6.75rem;
  height: 3rem;
  background-color: var(--green-500);
  border: none;
  color: var(--white);
  border-radius: 8px;
  font-weight: bold;
  margin-top: 1rem;
}

.commentButton:not(:disabled):hover {
  background-color: var(--green-300); 
}

.commentButton:disabled {
  opacity: 0.35;
}

.commentForm > footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentList {
  margin-top: 2rem;
}

